@import "constants.css";

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../font/IBMPlexMono-Regular.ttf");
}

* {
    -fx-font-family: "IBM Plex Mono";
}

.link {
    -fx-text-fill: primary;
}

.link:hover {
    -fx-underline: true;
}

#root {
    -fx-background-radius: 20px;
    -fx-background-color: background;
}

#titleBar {
    -fx-background-radius: 20px 20px 0px 0px;
}

#titleBar .label {
    -fx-text-fill: primary;
    -fx-font-size: 14;
}

.button {
    -fx-background-radius: 30px;
    -fx-background-color: highlighted;
}

.button:hover {
    -fx-background-color: primary;
}

#titleBar #closeButton:hover {
    -fx-background-color: #c1121f;
}

#mainPane {
    -fx-background-color: background;
    -fx-background-radius: 0px 0px 20px 20px;
}

#mainPane .box {
    -fx-background-color: highlighted;
    -fx-background-radius: 10px;
}
